/* body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: moccasin;
}

.header {
    background-color: red;
    margin-bottom: 10px;
    width: 100%;
}

.header-top {
    width: 100%;
    background-color: green;
    padding: 5px;
    color: whitesmoke;
}

.navbar {
    background-color: aquamarine;
    height: 40px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
}

.content {
    background-color: burlywood;
}

.hero {
    background-color: blue;
    width: 100%;
    height: 500px;
}

.kumpulan-info {
    display: flex;
    justify-content: space-evenly;
}

.kumpulan-info .info-1,
.kumpulan-info .info-2,
.kumpulan-info .info-3,
.kumpulan-info .info-4 {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    text-align: center;
    margin: 380px 40px 0;
}

.content-1 {
    background-color: cadetblue;
    height: 600px;
}

.content-1 .left-content {
    float: left;
    border-right: 2px solid greenyellow;
    width: 50%;
    height: 600px;
    background-color: lightcoral;
    box-sizing: border-box;
}

.content-1 .right-content {
    float: right;
    width: 50%;
    height: 600px;
    background-color: lightslategray;
    box-sizing: border-box;
}

.content-2 {
    background-color: cadetblue;
    height: 600px;
}

.penjelasan {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
}

.kotak-info {
    display: flex;
    justify-content: space-evenly;
}

.kotak-info .info-1,
.kotak-info .info-2,
.kotak-info .info-3,
.kotak-info .info-4 {
    background-color: whitesmoke;
    width: 200px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
}

.content-3 {
    background-color: rgb(113, 95, 160);
    height: 600px;
    text-align: center;
    padding: 10px 0;
}

.image-content {
    display: flex;
    justify-content: space-evenly;
}

.image-content .image-1,
.image-content .image-2,
.image-content .image-3 {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    background-color: red;
}

.content-4 {
    background-color: cadetblue;
    height: 450px;
}

.content-4 .kontak {
    width: 80%;
    height: 400px;
    background-color: grey;
    margin: 0 auto;
    text-align: center;
}

.content-5 {
    background-color: rgb(113, 95, 160);
    height: 500px;
}

.content-5 .left-content {
    float: left;
    border-right: 2px solid greenyellow;
    width: 50%;
    height: 450px;
    background-color: lightcoral;
    box-sizing: border-box;
}

.content-5 .right-content {
    float: right;
    width: 50%;
    height: 450px;
    background-color: lightslategray;
    box-sizing: border-box;
}

.content-6 {
    background-color: rgb(113, 95, 160);
    height: 500px;
}

.content-7 {
    background-color: lightblue;
    height: 500px;
}

.content-8 {
    background-color: rgb(113, 95, 160);
    height: 500px;
}

.content-8 .left-content {
    float: left;
    border-right: 2px solid greenyellow;
    width: 50%;
    height: 450px;
    background-color: lightcoral;
    box-sizing: border-box;
}

.content-8 .right-content {
    float: right;
    width: 50%;
    height: 450px;
    background-color: lightslategray;
    box-sizing: border-box;
}

.right-content .post-1, .right-content .post-2 {
    width: 80%;
    height: 40%;
    background-color: aqua;
    margin: 10px auto;
    box-sizing: border-box;
}

.content-9 {
    background-color: rosybrown;
    height: 350px;
}

.footer {
    background-color: black;
    height: 350px;
    color: azure;
}

.cf::after {
    content: "";
    display: table;
    clear: both;
} */